@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}
	40% {
		-webkit-transform: rotate(28deg)
	}
	100% {
		-webkit-transform: rotate(3deg)
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}
	40% {
		-webkit-transform: rotate(43deg)
	}
	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}
	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(56deg)
	}
	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}
	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}
	40% {
		-webkit-transform: rotate(74deg)
	}
	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}
	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}
	40% {
		-webkit-transform: rotate(68deg)
	}
	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}
	40% {
		-webkit-transform: rotate(78deg)
	}
	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}
	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}
	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}
	40% {
		-webkit-transform: rotate(92deg)
	}
	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}
	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}
	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}
	40% {
		-webkit-transform: rotate(118deg)
	}
	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}
	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}
	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}
	40% {
		-webkit-transform: rotate(136deg)
	}
	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}
	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}
	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
}

/* Sakura Falling */
.sakura { 
	background: red; 
	pointer-events: none; 
	position: absolute;
}

.sakura { background: #674ea7; }

/* Base Styles */
body { font-family: Arial, Helvetica, Sans-serif; }
img { max-width: 100%; height: auto; }

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title h1 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 60px;
	margin: 32px 0;
	color: #674ea7;
}

.title h2 {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 24px;
	color: #e25c67;
	line-height: 1;
	
}

.dance-med {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-size: 32px;
	color: #674ea7;
	margin: 16px;
	text-align: center;
	margin-top: 75px;
}
.title
{
	margin-top: 25px;

}

.title h3 {
	font-family: 'Dancing Script', cursive;
	font-weight: bolder;
	font-size: 34px;
	/* font-weight: 300; */
	/* text-transform: uppercase; */
	letter-spacing: 5px;
	/* font-size: 24px; */
	color: #674ea7;
	/* margin-top: 100px; */
}

.title p {
	color: #564861;
	margin: 30px 0 20px;
	/* text-transform: uppercase; */
	letter-spacing: 3px;
	font-size: 16px;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

* { font-family: 'Arvo', serif; }

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title { margin-bottom: 40px; }

#time {
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
	font-size: 16px;
}

.venue {
	background-color: #834ea7;
	border-radius: 20px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	padding: 8px;
	margin-right: 8px;
	margin-bottom: 18px;
}

.venue a {
	text-decoration: none;
	color: #fff;
}

.container {
	display: flex;
	grid-template-columns: 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
	justify-content: center;
}

.block {
	width: 80px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #674ea7;
	font-family: 'Dancing Script', cursive;
}

.days { background: linear-gradient(90deg, #ffffff, #ffffff); }
.hours { background: linear-gradient(90deg, #ffffff, #ffffff); }
.minutes { background-color: #ffffff; }
.seconds { background-color: #ffffff; }

.date { color: #874562; font-weight: 900; }
.place { color: #874562; font-weight: 900; }

.footer {
	color: #564861;
	text-align: center;
	font-size: 16px;
	margin: 24px;
}

.phone { color: #874562; }

.end-msg {
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 24px;
	color: #fff;
}

a { text-decoration: none; }

.happiness {
	color: #874562;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.twitter { color: #874562; }
.music { display: none; }
.actions { display: flex; font-size: 12px; letter-spacing: 0pt;margin-top:50px;}

/* Photo Gallery CSS */
body { font-family: 'Roboto', sans-serif; }

#wrapper { width: 80%; margin: auto; }

.top-bar {
	height: 62px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 22px;
	font-size: 18px;
	color: gray;
}

.material {
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
}

.material .material-back {
	background: whitesmoke;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	position: absolute;
	transition: all .25s linear;
	transform: scale(0);
}

.material:active .material-back {
	transform: scale(1) !important;
}

.material .icon { z-index: 1; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }

.top-bar .icon { font-size: 16px; }
.top-bar .icon:not(:last-child) { padding-right: 22px; }
.top-bar #share { font-size: 11px; opacity: .5; }

.top-bar #share .text { margin-left: 3px; }

header {
	height: 160px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

header .title { font-size: 42px; }
header .date { font-size: 11px; color: gray; }

.location {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 32px;
	width: 100%;
}

.location .icon { color: tomato; }
.location .place { margin: 0 6px; color: gray; }

/* Base styles for the gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.gallery .gallery-item {
    flex: 1 1 calc(33.333% - 10px); /* 3 items per row with 10px gap */
    margin: 5px;
    background: gray;
    background-size: cover;
    background-position: center top;
    box-sizing: border-box;
}

/* Responsive styles for mobile view */
@media (max-width: 600px) {
    .gallery .gallery-item {
        flex: 1 1 calc(100% - 10px); /* 1 item per row with 10px gap */
        height: auto;
        background-size: cover; /* Maintain aspect ratio */
		padding-bottom: 75%; /* Adjust for taller aspect ratio */
    }
}
.gallery .gallery-item { flex: 1 auto; }

.gallery .gallery-item img {
	height: auto;
	width: 100%;
	max-height: 300px;
	visibility: hidden;
}

.gallery-item {
	position: relative;
	cursor: pointer;
	transition: all .1s linear;
}

.gallery-item:focus { transform: scale(.95); }

.gallery-item:before, .gallery-item:after {
	position: absolute;
	transition: all .25s linear;
	opacity: 0;
}

.gallery-item:hover:before, .gallery-item:hover:after { opacity: 1; }

.gallery-item:before {
	content: "";
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(255, 215, 0, 0));
}

.gallery-item:after {
	font-family: fontawesome;
	font-size: 20px;
	color: white;
	content: "\f058";
	top: 25px;
	left: 25px;
}

.gallery-item:focus:after { color: #42A5FF; }

section.heading {
	padding: 62px 0;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.wrapper {
	position: relative;
	height: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.countdown-container {
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	width: 100%;
}

.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve3d;
	perspective: 500px;
	height: 3rem;
	width: 35em;
	margin: 0 auto;
}

.countdown.remove {
	animation: hide-countdown 1s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
	overflow: hidden;
}

.number, .separator {
	display: block;
	color: #333;
	height: 3rem;
	font-size: 3rem;
	position: relative;
	line-height: 3rem;
	text-align: center;
	width: 100%;
}

.separator { margin: 0; width: 2rem; }

.new, .old, .current {
	color: #333;
	position: absolute;
	border-radius: 1rem;
	height: 3rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.new { animation: show-new 0.4s cubic-bezier(0, 0.9, 0.5, 1.2) forwards; }

.old { animation: hide-old 2s cubic-bezier(0, 0.9, 0.56, 1.2) forwards; }

.countdown section { position: relative; }

#js-days:after, #js-hours:after, #js-minutes:after, #js-seconds:after {
	content: "DAYS";
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: -50px;
	font-size: 15px;
}

#js-hours:after { content: "HOURS"; }
#js-minutes:after { content: "MINUTES"; }
#js-seconds:after { content: "SECONDS"; }

@keyframes hide-countdown {
	to {
		height: 0;
		overflow: hidden;
	}
}

@keyframes show-new {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
	}
	100% { transform: translate(-50%, -50%); }
}

@keyframes hide-old {
	0% { transform: translate(-50%, -50%); }
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
	}
}

.flexrow { justify-content: center; }

.flexrowright {
	justify-content: right;
	align-items: right;
}

.flexrowleft {
	justify-content: left;
	align-items: left;
}

.flexrowcenter {
	justify-content: center;
	align-items: center;
}

/* Responsive Styles */
@media (max-width: 900px) {
	img { max-width: 30%; }
}

@media (max-width: 600px) {
	body {
		font-size: 14px;
	}

	.wrap {
		padding: 10px;
	}

	.venue {
		width: 100%;
		padding: 15px;
	}

	.title h1 { font-size: 36px; }
	.title h2 { font-size: 20px; }
	.dance-med { font-size: 24px; }
	.title h3 { font-size: 18px; }
	.title p { font-size: 14px; letter-spacing: 2px; }

	.gallery .gallery-item {
		flex: 1 1 100%;
		max-width: 100%;
		height: auto;
	}
}
.names {
    display: flex;
    align-items: center;
    justify-content: center;
}

.names h1 {
    margin: 0 10px;
}

.names h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 24px;
    color: #e25c67;
    margin: 0;
}
.fa-location-arrow {
    margin-left: 15px; /* Adjust the margin as needed */
}